/*root styling*/

:root {
    --primary: #cec327;
    --light: #EEEEEE;
    --dark: #3a3939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',
    sans-serif;
}

/*background-image*/

.hero {
    background-image: url(../images/may8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    border-bottom: 2px solid var(--primary);
}
/*navbar*/

.navbar {
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    border-bottom: 3px solid var(--primary);
}
/*navbar logo/brand*/

.navbar-brand {
    color: #cec327;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    }
/*default menu toggler*/

.navbar .navbar-toggler {

    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
/*custom menu toggler*/

.navbar .fa-bong {

    width: 20px;
    height: 14px;
    margin-bottom: 5px;
    color: var(--primary);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
}

/*navbar links*/

a.menu {
    color: var(--light);
    margin: 0 16px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s;
    padding: 4px;
    background-color: black;
    color: var(--light);
    border-color: var(--primary);
    border-radius: 15px;
    border-style: dashed;
    border-width: 3px;
    }

/* alert banner*/

.alert {
    background: white;
    border: var(--primary);
    top: 3px;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}
/* menu social icons*/
.socials i {
    letter-spacing: 5px;
    font-size: 25px;
    color: var(--primary);
}
/*icons and brand/logo on hover*/

.socials i:hover,
.navbar-brand:hover {
    color: white;
}

/*navbar links on hover*/

a.menu:hover {
    background-color: white;
    color: black;
    border-color: var(--primary);
    border-radius: 15px;
    border-style: double;
    border-width: 3px;
}
/* how it works heading*/

.howitworksheader {
    background-image: url(../images/header.png);
    background-size: contain;
    width: 50%;
    color: #EEEEEE;
    margin: 10px;
    border: 2px solid var(--primary);
}

/* how it works sections*/

.how1 {
    margin-top: 20px;
}

.how2 {
    margin-top: 20px;
}

.how3 {
    margin-top: 20px;
}

.how4 {
    margin-top: 20px;
}

.howitworks {
    color: var(--light);
    background-image: url(../images/head.jpg);
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    background-size: cover;
    background-position: center;
    }

/*our services heading*/

.servicesheader {
    background-image: url(../images/header.png);
    background-size: contain;
    width: 50%;
    color: #EEEEEE;
    margin: 10px;
    border: 2px solid var(--primary);

}

/* our services section*/

.ourservices {
    color: var(--light);
    background-image: url(../images/head.jpg);
     border-bottom: 2px solid var(--primary);
     background-size: cover;
     background-position: center;
     }
/* top flavours section*/

 .top.fa-ul {
     display: inline-block;
     margin-left: 10px;

 }

 .topflavours i {
     color: var(--primary);
 }

/*areas section*/

 .areas.fa-ul {
     display: inline-block;
     margin-left: 10px;

 }

 .areas i {
     color: var(--primary);
 }
/* our services headings*/
.home,
.toppicks,
.delivery,
.event {
    color: var(--primary);
}

/*footer*/

.footer {
    color: var(--light);
    background-image: url(../images/head.jpg);
    border-bottom: 2px solid var(--primary);
    background-size: cover;
    background-position: center;
 }
/*footer opening hours*/

.table {
    justify-content: center;

}

/*footer socials*/

.endsocials i {
    letter-spacing: 5px;
    font-size: 25px;
    color: var(--primary);
}

.endsocials i:hover {
    color: white;
}

.endsocials {
    background-image: url(../images/header.png);
    background-size: contain;
    color: #EEEEEE;
    border: 2px solid var(--primary);
}

.footer-socials {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 10px;
}
/*flavaz shisha hire 2022 heading*/

.end {
    background-image: url(../images/header.png);
    background-size: contain;
    border: 2px solid var(--primary);
}

.end h5 {
    color: #EEEEEE;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/*footer details*/
.address,
.email,
.phone {
    background-image: url(../images/header.png);
    background-size: contain;
    border: 2px solid var(--primary);
}

.details i {
    letter-spacing: 5px;
    color: var(--primary);
}

.details {

    justify-content: center;
}

/* footer headings*/

.contact,
.openhours,
.footersocials {
    color: var(--primary);
}