/*root styling*/

:root {
    --primary: #cec327;
    --light: #EEEEEE;
    --dark: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',
    sans-serif;
}
.bgnav {
    border-bottom: 2px solid var(--primary);
}
.carousel {
    margin-top: 4px;
    border-top: 3px;
    border-left: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-color: var(--primary);
    border-style: solid;
}
/*navbar logo/brand*/

.navbar-brand {
    color: #cec327;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    }
/*default menu toggler*/

.navbar .navbar-toggler {

    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
/*custom menu toggler*/

.navbar .fa-bong {

    width: 20px;
    height: 14px;
    margin-bottom: 5px;
    color: var(--primary);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    position: absolute;
    top: 17px;
    right: 1px;
}

/*navbar links*/

a.menu {
    color: var(--light);
    margin: 0 16px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s;
    padding: 2px 4px;
    background-color: black;
    color: var(--light);
    border-color: var(--primary);
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    }

/* alert banner*/

.alert {
    margin: 4px 16px;
    border-color: var(--dark);
    color:black;
    border-radius: 15px;
}
/* menu social icons*/
.socials i {
    letter-spacing: 5px;
    font-size: 25px;
    color: var(--primary);
}
/*icons and brand/logo on hover*/

.socials i:hover,
.navbar-brand:hover {
    color: white;
}

/*navbar links on hover*/

a.menu:hover {
    background-color: white;
    color: black;
    border-color: var(--primary);
    border-radius: 10px;
    border-style: double;
    border-width: 3px;
}
/* how it works heading*/

.howitworksheader {
    background-image: url(../images/header.png);
    background-size: contain;
    color: #EEEEEE;
    margin: 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

/* how it works sections*/

.how1,
.how2,
.how3,
.how4 {
    margin-top: 5px;
}

    .how1img,
    .how2img,
    .how3img,
    .how4img {
        margin-bottom: 5px;
}

.howitworks {
    color: var(--light);
    background-image: url(../images/head.jpg);
    background-color: black;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    background-size: cover;
    background-position: center;
    }

/*our services heading*/

.servicesheader {
    background-image: url(../images/header.png);
    background-size: contain;
    color: #EEEEEE;
    margin: 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    text-align: center;
    justify-content: center;

}

/* our services section*/

.ourservices {
    color: var(--light);
    background-image: url(../images/head.jpg);
     border-bottom: 1px solid var(--primary);
     border-top: 1px solid var(--primary);
     background-size: cover;
     background-position: center;
     }
/* top flavours section*/

 .top.fa-ul {
     display: inline-block;
     margin-left: 10px;

 }

 .topflavours i {
     color: var(--primary);
 }

/*areas section*/

 .areas.fa-ul {
     display: inline-block;
     margin-left: 10px;

 }

 .areas i {
     color: var(--primary);
 }
/* our services headings*/
.home,
.toppicks,
.delivery,
.event,
.contact,
.openhours,
.footersocials {
    color: var(--primary);
    border: 2px solid var(--light);
    background-color: black;
    border-radius: 5px;
}

/*footer*/

.footer {
    color: var(--light);
    background-image: url(../images/head.jpg);
    border-top: 1px solid var(--primary);
    background-size: cover;
    background-position: center;
 }
/*footer opening hours*/



/*footer socials*/

.endsocials i {
    letter-spacing: 5px;
    font-size: 25px;
    color: var(--primary);
}

.endsocials i:hover {
    color: white;
}

.endsocials {
    background-image: url(../images/header.png);
    background-size: contain;
    color: #EEEEEE;
    border: 2px solid var(--primary);
}

.footer-socials {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 10px;
}
/*flavaz shisha hire 2022 heading*/

.end {
    background-image: url(../images/header.png);
    background-size: contain;
    border: 2px solid var(--primary);
}

.end h5 {
    color: #EEEEEE;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/*footer details*/
.address,
.email,
.phone,
.mon-thu,
.fri-sat,
.sunday,
.deliveryareas {
    background-image: url(../images/header.png);
    background-size: contain;
    border: 2px solid var(--primary);
    display: block;
    overflow-wrap: break-word;
}

.details i,
.openinghours {
    letter-spacing: 5px;
    color: var(--primary);
}

.details {

    justify-content: center;
}

/* footer headings*/

.contact,
.openhours,
.footersocials {
    color: var(--primary);
}
.gallery-bg {
    background-image:url(/images/header.png);
    background-position: center;
    border-bottom: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
}

.btn {
    background-color: #cec327;
    border: none;
    color:black;
}
.mapbg {
    background-image: url('/images/map.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.faq {
    margin: 20px 0;
}

.faq .item {
    border: none;
    margin-bottom: 50px;
    background: none;
}

.t-p {
    color: rgb(193 206 216);
    padding: 30px 30px 0px 30px;
}

.faq .item .item-header h2 button.btn.btn-link {
    background-image: url('/images/head.jpg');
    color: white;
    border-top: 3px;
    border-left: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-color: var(--primary);
    border-style: solid;
    border-radius: 0px;
    font-family: 'outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    text-decoration: none;

}

.faq .item .item-header {
    border-bottom: none;
    background: transparent;
    padding: 0px;
    margin: 2px;
}

.faq .item .item-header h2 button {
    color: white;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.faq .item .item-header h2 i {
    float: right;
    font-size: 30px;
    color: #cec327;
    background-color: black;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

button.btn.btn-link.collapsed i {
    transform: rotate(0deg);
}

button.btn.btn-link i {
    transform: rotate(180deg);
    transition: 0.5s;
}

.area-content {
    color: white;
}

ul.deliveryareas {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;

}